@import "tailwindcss";
/* In your global CSS file */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap'); */

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, .font-serif {
  font-family: 'Playfair Display', serif;
}